config.yml
Api.yml
random.yml

plugins/McStreamApi/config.yml
plugins/McStreamApi/Api.yml
plugins/McStreamApi/random.yml
plugins/McStreamApi/secret.key
plugins/McStreamApi/tokens/

McStreamApi-AuthServer/config.yml
auth-server.config.yml
private-authserver-deploy-notes.md

*.key
*.enc
build/
.gradle/
.kotlin/
out/
.idea/
logs/
run/
*.pid
console.log
